.container {
  margin-top: 0px;
  width: 980px;
}

.jumbotron {
	background-color: black;
	color: white;
}

.jumbotron h1{
	text-align: center;
	font-size: 61px;
}

.jumbotron h1 small {
	color: white;
	text-align: center;
	font-size: 30px;
}

.form-group .form-control {
	width: 900px;
	margin-bottom: 20px;
}

.form-group button {
	font-size: 20px;
}